<h1>Add a New Snowboard</h1>

<form action="/bags" method="POST">
  <label> Name: </label>
  <input type="text" name="name"> </br>

  <label> Brand: </label>
  <input type="number" name="brand"> </br>

  <label> Length: </label>
  <input type="number" name="length"> </br>

  <input type="submit" value="Create">
</form>
